version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: always
    ports:
      - "80:80"
    env_file:
      - .env
    volumes:
      - .:/var/www/html
      - /var/www/html/vendor
      - /var/www/html/node_modules
      - /var/www/gcp-credentials.json:/var/www/html/storage/gcp-credentials.json:ro
    environment:
      - GCS_KEY_FILE=/var/www/html/storage/gcp-credentials.json

    command: >
      bash -c "
      composer install --no-interaction --prefer-dist &&
      php artisan key:generate &&
      php artisan migrate --force &&
      /usr/sbin/apache2ctl -D FOREGROUND
      "
